/* inizio header */
header {
    background-color: cornflowerblue;
    }
.logo {
    height: 40px;
}
/* fine header */
/* inizio section table */
th {
    color: aliceblue;
    background-color: cornflowerblue;
}
/* inizio correzione colore testo */
.text-blue {
    color: aquamarine;
}
.text-grey {
    color: grey;
}
.background-blue {
    background-color: aquamarine;
}
/* fine correzione colore testo */
/* inizio sfondo testo */
.background-yellow {
    background-color: yellow;
}
/* fine sfondo testo */